@tailwind base;
@tailwind components;
@tailwind utilities;

body.cursor-col-resize,
body.cursor-col-resize * {
  cursor: col-resize !important;
}

/* purgecss start ignore */
.Resizer {
  background: theme('colors.gray.200');
  z-index: 1;
  background-clip: padding-box;
}

.Resizer:hover {
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}
/* purgecss end ignore */
